# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Model files (downloaded locally)
local_model/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit tests / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Mac
.DS_Store
